{
    "VERSION": "1.2 BETA",
    "BOT_TOKEN": "[BOT TOKEN HERE]",
    "BOT_PREFIX": ["tuxb ", "b/", "tb!", "plsb "],
    "LAVALINK": {
        "PASSWORD": "[INSERT YOUR PASSWORD]",
        "HOST": "[YOUR HOST]",
        "PORT": [PORT AS NUMBER *WITHOUT* QUOTES]
    }
    "OWNERS": ["190544080164487168"],    
    "DBOTS_TOKEN": "[BOTS.PW TOKEN HERE]",
    "BLOCKED": [],
    "SENTRY": "[SENTRY URL HERE]",
    "RETHINKDB": {
	"DB": "tuxedo",
	"USERNAME": "admin",
	"PASSWORD": "",
	"HOST": "localhost",
	"PORT": 28015
    }
}
